  /* Use google fonts Work Sens  */
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Handlee&family=Open+Sans:wght@400;700;800&family=Roboto+Slab&family=Work+Sans:wght@400;500;600;700;800&display=swap');
  /* shared styles  */
  *{
    font-family: 'Dancing Script', cursive;
font-family: 'Handlee', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Work Sans', sans-serif;
  }
  .btn-primary{
    
  }
  header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
  }
  nav{
    display: flex;
justify-content: space-between;
align-items: center;
  }
  .nav-title{
    font-size: 2.5em;
    font-weight: 700;
    color: #131313;

  }
  nav > ul{
    display: flex;
    
  }
  nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
  }
  nav li a{
    text-decoration: none;
    color: #424242;
  }
  /* banner styles  */
  .banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
  }
  .banner-title{
    font-size: 4rem;
    font-weight: 700;
    color:#131313 ;
    text-align: center;

  }
  .banner-description{
    color: #727272;

  }
